{% extends 'base.html' %}
{% block content %}

    <div class="input-field col s12" style="width: 30%;margin: 5% 0 5% 10%;font-size: 1rem;float: left">
        <select id="year">
            <option value="" disabled selected>请选择年份</option>
            {% for i in years %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>


    </div>

    <div class="input-field col s12" style="width: 30%;margin: 5% 0 5% 13%;font-size: 1rem;float: left">
        <select id="month">
            <option value="" disabled selected>请选择月份</option>
            {% for i in months %}
                {% if i < 10 %}
                    <option value="0{{ i }}">0{{ i }}</option>

                {% else %}
                    <option value="{{ i }}">{{ i }}</option>

                {% endif %}
            {% endfor %}
        </select>

    </div>



    <form class="upload_simple_record_form" id="" method="post" action="{% url 'upload_simple_record' %}"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-field col s12" style="width: 73%;margin: 5% 0 5% 10%;font-size: 1rem;clear: both">
            <div class="file-field input-field" style="width: 725px;float: left">
                <div class="btn">
                    <span>简单分析原始记录</span>
                    <input name="simple_record" type="file" accept="application/vnd.ms-excel"
                           onchange="upload_simple_record(this)">

                </div>
                <div class="file-path-wrapper">
                    <input class="file-path" type="text" placeholder="此控件用于生成原始记录总表">
                </div>

            </div>
            <a class="waves-effect waves-light btn" style="font-size: 1rem;color: white;margin: 14px 0 0 20px;line-height: 47px;height: 47px; float: right;display: none" id="download_simple_record">下载原始记录总表</a>

        </div>
    </form>

    <form class="split_original_data_view_form" id="" method="post" action="{% url 'split_original_data_view' %}"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-field col s12" style="width: 73%;margin: 5% 0 5% 10%;font-size: 1rem;clear: both">
            <div class="file-field input-field" style="width: 725px;float: left">
                <div class="btn" style="width: 185px">
                    <span>原始记录总表</span>
                    <input name="original_data_table" type="file" accept="application/vnd.ms-excel"
                           onchange="split_original_data_view(this)">

                </div>
                <div class="file-path-wrapper">
                    <input class="file-path" type="text" placeholder="此控件用于拆分原始记录总表">
                </div>

            </div>
            <a class="waves-effect waves-light btn" style="font-size: 1rem;color: white;margin: 14px 0 0 20px;line-height: 47px;height: 47px;float: right;display: none" id="download_split_original_data_zip">下载原始记录总表拆分压缩包</a>

        </div>
    </form>
{#  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>#}

        <!--loading-->
    <div id="modal1" class="modal" style="background: none;box-shadow: none;overflow: hidden">
    <div class="modal-content">
      <div class="preloader-wrapper big active" style="width: 200px; height: 200px;margin: 10% 0 0 30%">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle" style="border-width: 10px"></div>
        </div><div class="gap-patch">
          <div class="circle" style="border-width: 10px"></div>
        </div><div class="circle-clipper right">
          <div class="circle" style="border-width: 10px"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle" style="border-width: 10px"></div>
        </div><div class="gap-patch">
          <div class="circle" style="border-width: 10px"></div>
        </div><div class="circle-clipper right">
          <div class="circle" style="border-width: 10px"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle" style="border-width: 10px"></div>
        </div><div class="gap-patch">
          <div class="circle" style="border-width: 10px"></div>
        </div><div class="circle-clipper right">
          <div class="circle" style="border-width: 10px"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle" style="border-width: 10px"></div>
        </div><div class="gap-patch">
          <div class="circle" style="border-width: 10px"></div>
        </div><div class="circle-clipper right">
          <div class="circle" style="border-width: 10px"></div>
        </div>
      </div>
    </div>
    </div>
    </div>
  <!--loading-->




{% endblock %}

{% block extra_script %}
    <script>
        $(document).ready(function () {
            $('select').material_select();
            $('.modal-trigger').leanModal();

        });

        function upload_simple_record(obj) {
            var year = $('#year').val()
            var month = $('#month').val()
            if (year==null){
                Materialize.toast('请选择正确的年份', 4000)
                $("input[name='simple_record']").val('')

                return
            }
            if(month==null){
                Materialize.toast('请选择正确的月份', 4000)
                $("input[name='simple_record']").val('')
                return
            }
            $('#modal1').openModal();
            var form = $(obj).closest('.upload_simple_record_form')
            var option = {
                data: {'year': year, 'month': month},
                success: function (url) {
                    console.log(url)
                    $('#modal1').closeModal();
                    $('#download_simple_record').attr('href', url+'?='+Math.random())
                    $('#download_simple_record').fadeIn()
{#                    for (var i = 0; i < ur l.length; i++) {#}
{#                        window.open(url[i])#}
{#                    }#}

                },
                error: function(){
                    $('#modal1').closeModal();
                    Materialize.toast('发生错误, 请检查上传文件是否正确或者联系开发人员', 4000)
                }

            }
            form.ajaxSubmit(option)

        }

    function split_original_data_view(obj){
        console.log(1)
        var year = $('#year').val()
        var month = $('#month').val()
        if (year==null){
                Materialize.toast('请选择正确的年份', 4000)
                $("input[name='original_data_table']").val('')
                return
            }
            if(month==null){
                Materialize.toast('请选择正确的月份', 4000)
                $("input[name='original_data_table']").val('')
                return
            }
            $('#modal1').openModal();
            var form = $(obj).closest('.split_original_data_view_form')
            var option = {
                data: {'year': year, 'month': month},
                success: function (url) {
{#                    console.log(url)#}
                    $('#modal1').closeModal();
                    $('#download_split_original_data_zip').attr('href', url+'?='+Math.random())
                    $('#download_split_original_data_zip').fadeIn()
{#                    for (var i = 0; i < ur l.length; i++) {#}
{#                        window.open(url[i])#}
{#                    }#}

                },
                error: function(){
                    $('#modal1').closeModal();
                    Materialize.toast('发生错误, 请检查上传文件是否正确或者联系开发人员', 4000)
                }

            }
            form.ajaxSubmit(option)

    }
    </script>

{% endblock %}