{% extends 'base.html' %}
{% block extra_css %}
    <style>
    </style>
{% endblock %}
{% block content %}

    <div class="row">
        <form class="" id="leave_apply_form" method="post" action="{% url 'leave_apply' %}">
            {% csrf_token %}
            <div class="input-field col s12" style="width: 73%;margin: 5% 0 5% 10%;font-size: 1rem">
                <select name="leave_type">
                    <option value="" disabled selected>请假类型</option>
                    {% if current_user.legal_vacation_days <= 0.0 and current_user.company_vacation_days <= 0.0 %}
                        <option value="0" disabled="disabled">年假(剩余法定{{ current_user.legal_vacation_days }}天,企业{{ current_user.company_vacation_days }}天)</option>
                        <option value="1">事假</option>
                    {% else %}
                        <option value="0">年假(剩余法定{{ current_user.legal_vacation_days }}天,企业{{ current_user.company_vacation_days }}天)</option>
                        <option value="1" disabled="disabled">事假</option>
                    {% endif %}
                    <option value="2">病假</option>
                    <option value="3">产假</option>
                    <option value="7">其他</option>
                </select>

            </div>
            <span style="display: none" id="legal_vacation_days">{{ current_user.legal_vacation_days }}</span><span
                style="display: none" id="company_vacation_days">{{ current_user.company_vacation_days }}</span>

            <div class="row" style="margin: 0 0 0 10%">

                <div class="input-field col" style="width: 80%;">

                    <input type="date" class="datepicker" name="start_date" id="start_date"
                           onchange="calculate_leave_day()">
                    <label for="name">
                        <i class="material-icons" style="font-size: 20px;float: left">&#xe916;</i>

                        <p style="float: left">开始日期</p>
                    </label>
                </div>
            </div>
            <div class="input-field col s12" style="width: 73%;margin: 0 0 5% 10%;font-size: 1rem">
                <i class="material-icons" style="float: left;font-size: 20px;margin: 5% 0 0 0">&#xe8b5;</i>

                <p class="time_title">开始时间</p>
                <input name="start_time" type="radio" id="time2" style="margin: -5% 0 0 0" value="11:00"
                       onchange="calculate_leave_day()"/>
                <label for="time2" style="float: right;margin: 0 5% 0 0">11:00</label>


                <input name="start_time" type="radio" id="time1" value="08:30" onchange="calculate_leave_day()"/>
                <label class="start_time" for="time1">08:30</label>
            </div>

            <div class="row" style="margin: 5% 0 0 10%">
                <div class="input-field col" style="width: 80%;">
                    <input type="date" class="datepicker" name="end_date" id="end_date"
                           onchange="calculate_leave_day()">
                    <label for="name">
                        <i class="material-icons" style="font-size: 20px;float: left">&#xe916;</i>

                        <p style="float: left">结束日期</p>
                    </label>
                </div>
            </div>
            <div class="input-field col s12" style="width: 73%;margin: 0 -10% 5% 10%;font-size: 1rem">
                <i class="material-icons" style="float: left;font-size: 20px;margin: 5% 0 0 0">&#xe8b5;</i>

                <p class="time_title">结束时间</p>
                <input name="end_time" type="radio" id="time4" value="17:00" style="margin: -5% 0 0 0"
                       onchange="calculate_leave_day()"/>
                <label for="time4" style="float: right;margin: 0 5% 0 0">17:00</label>

                <input name="end_time" type="radio" id="time3" value="13:30" onchange="calculate_leave_day()"/>
                <label class="start_time" for="time3">13:30</label>

            </div>
            <div class="input-field col s12" style="width: 73%;margin: 5% 0 5% 10%;font-size: 1rem">
                <span>请假天数</span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="leave_days"
                                                               style="color: red">0</span>&nbsp;&nbsp;<span>天</span>
            </div>
            <div class="input-field col s12" style="width: 73%;margin: 5% 0 5% 10%;font-size: 1rem">
                <textarea id="icon_prefix2" class="materialize-textarea" name="message"
                          style="margin: 0 0 0 0"></textarea>
                <label for="icon_prefix2" style="margin: 0 0 0 0">
                    <i class="material-icons" style="float: left;font-size: 20px">&#xe0c9;</i>

                    <p style="float: left">事由/备注</p>
                </label>
            </div>

            <div style="margin: 10% 0 0 0">
                <button class="waves-effect waves-light btn" id="leave_apply_btn" type="button"
                        style="float: left;margin: 0 0 0 37%">提&nbsp;&nbsp;交
                </button>
            </div>
        </form>
    </div>





{% endblock %}

{% block extra_script %}
    <script>
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });

        $(document).ready(function () {
            $('select').material_select();
        });

        function calculate_leave_day() {
            var start_date = $('#start_date').val()
            var end_date = $('#end_date').val()
            var start_time = $("input[name='start_time']:checked").val()
            var end_time = $("input[name='end_time']:checked").val()
            {#            console.log(start_date, end_date, start_time, end_time)#}
            if ((start_date && end_date && start_time && end_time) && (new Date(end_date) >= new Date(start_date))) {
                $.post('/leave/calculate_leave_day', {
                    'start_date': start_date, 'end_date': end_date,
                    'start_time': start_time, 'end_time': end_time
                }, function (data) {
                    $('#leave_days').text(data)
                })
            }
            else {
                $('#leave_days').text(0)
            }
        }

        $('#leave_apply_btn').click(function () {
            $(this).attr('disabled', true)
            {#            console.log(window.location.pathname)#}
            if (window.location.pathname == '/leave/') {
                var group = '1'
            }
            else {
                group = '2'
            }

            //validate
            var level_type = $("select[name='leave_type']").val()
            var start_date = $('#start_date').val()
            var end_date = $('#end_date').val()
            var start_time = $("input[name='start_time']:checked").val()
            var end_time = $("input[name='end_time']:checked").val()
            var message = $("textarea[name='message']").val()
            var leave_days = parseFloat($('#leave_days').text())  //实际请假天数
            var legal_vacation_days = parseFloat($('#legal_vacation_days').text()) //法定年假剩余天数
            var company_vacation_days = parseFloat($('#company_vacation_days').text())  //企业年假剩余天数

            console.log(leave_days, legal_vacation_days, company_vacation_days)

            if (level_type == 0 && leave_days > legal_vacation_days + company_vacation_days) {
                Materialize.toast('年假天数不得超过法定和企业年休假之和', 4000)
                $(this).attr('disabled', false)
                return
            }

            if (!level_type) {
                Materialize.toast('请选择请假类型', 4000)
                $("select[name='leave_type']").click()
                $(this).attr('disabled', false)
                return

            }
            if (!start_date) {
                Materialize.toast('请选择开始日期', 4000)
                $(this).attr('disabled', false)
                return

            }

            if (!compare_date(start_date)) {
                Materialize.toast('开始日期不得小于当前日期', 4000)
                $(this).attr('disabled', false)
                return
            }
            if (!end_date) {
                Materialize.toast('请选择结束日期', 4000)
                $(this).attr('disabled', false)
                return

            }
            if (!compare_data1(start_date, end_date)) {
                Materialize.toast('结束日期不得小于开始日期', 4000)
                $(this).attr('disabled', false)
                return
            }
            if (!start_time) {
                Materialize.toast('请选择开始时间', 4000)
                $(this).attr('disabled', false)
                return
            }
            if (!end_time) {
                Materialize.toast('请选择结束时间', 4000)
                $(this).attr('disabled', false)
                return
            }
            if (start_date == end_date && start_time == end_time) {
                Materialize.toast('开始时间与结束时间重复', 4000)
                $(this).attr('disabled', false)
                $("input[name='end_time']").attr("checked", false);
                return
            }

            if (!message) {
                Materialize.toast('请填写事由/备注', 4000)
                $(this).attr('disabled', false)
                return
            }


            var option = {
                data: {'leave_days_count': $('#leave_days').text(), 'group': group},
                dataType: 'json',
                async: false,
                success: function (data) {
                    console.log(data)
                    if (data['leave_type'] == 'Not Allowed'){
                        Materialize.toast('申请失败, 您在此时间段内已有请假或外出', 4000)
                        $('#leave_apply_btn').attr('disabled', false)
                        return
                    }
                    if(data['leave_type'] == 'Exists leave not completed'){
                         Materialize.toast('申请失败, 您有尚未注销的假期', 4000)
                        $('#leave_apply_btn').attr('disabled', false)
                        return
                    }
                    if (data['leave_type'] == 'sick_leave')  //返回ID 则为病假，产假 跳转到上传证明
                    {
                        window.location = '/leave/sick_leave_img_upload_page/' + data['new_leave_id']
                    }
                    else if (data['leave_type'] == 'pregnant_leave') {
                        window.location = '/leave/pregnant_leave_img_upload_page/' + data['new_leave_id']
                    }
                    else {
                        window.location = '{% url 'success' 'leave' %}'

                    }
                },
                error: function(){
                    $('#leave_apply_btn').attr('disabled', false)
                }
            }
            //ajaxForm插件的提交方式


            $('#leave_apply_form').ajaxSubmit(option)


        })


        function compare_date(start_date) {
            // fix safari date problem
            var start_date_string = start_date.replace(/-/g, "/")
            var myDate = new Date(Date.parse(start_date_string));  //Tue Dec 29 2015 08:00:00 GMT+0800 (CST)
            var today = new Date();  //Mon Dec 28 2015 00:00:00 GMT+0800 (CST
            var today_string = today.getFullYear() + '/'
            if (today.getMonth() + 1 < 10) {
                today_string += '0' + (today.getMonth() + 1)
            }
            else {
                today_string += +(today.getMonth() + 1)

            }
            today_string += '/'
            if (today.getDate() < 10) {
                today_string += '0' + today.getDate()

            }
            else {
                today_string += today.getDate()

            }
            return myDate >= new Date(Date.parse(today_string))

        }


        function compare_data1(start_date, end_date) {
            var start_date_array = start_date.split('/');
            var data1 = new Date(Date.parse(start_date_array));
            var end_date_array = end_date.split('/');
            var data2 = new Date(Date.parse(end_date_array));
            console.log(data2 >= data1)
            return data2 >= data1


        }


    </script>

{% endblock %}