{% extends 'base.html' %}
{% load custom_tags %}
{% block extra_css %}
    <style>
        .leave_content {
            font-size: 86% !important;;
            padding-top: 2% !important;;
            padding-bottom: 2% !important;

        }


    </style>
{% endblock %}

{% block content %}
    <div style="text-align: center;margin: 2% 0 1% 0">
        <div class="chip  blue-grey lighten-2">
            已取消
        </div>
        <div class="chip teal lighten-1">
            审核中
        </div>
        <div class="chip blue lighten-1">
            未通过
        </div>
        <div class="chip deep-orange lighten-1">
            已通过
        </div>
        <div class="chip green lighten-1">
            已结束
        </div>
    </div>
    {% if leaves %}
        <ul class="collapsible popout" data-collapsible="accordion">
            {% for i in leaves %}
                <li class="list" id="{{ i.pk }}">
                    {% if i.status == 0 %}
                        <div id="title_{{ i.pk }}"
                             class="collapsible-header waves-effect waves-light  blue-grey lighten-2"
                             style="color: #ffffff;font-size: 74%">
                    {% elif i.status == 1 %}
                        <div id="title_{{ i.pk }}" class="collapsible-header waves-effect waves-light teal lighten-1"
                             style="color: #ffffff;font-size: 74%">
                    {% elif i.status == 2 %}
                        <div id="title_{{ i.pk }}" class="collapsible-header waves-effect waves-light blue lighten-1"
                             style="color: #ffffff;font-size: 74%">
                    {% elif i.status == 3 %}
                        <div id="title_{{ i.pk }}"
                             class="collapsible-header waves-effect waves-light deep-orange lighten-1"
                             style="color: #ffffff;font-size: 74%">
                    {% elif i.status == 4 %}
                        <div id="title_{{ i.pk }}" class="collapsible-header waves-effect waves-light green lighten-1"
                             style="color: #ffffff;font-size: 74%">
                    {% else %}
                    {% endif %}
                    {{ i.leave_start_datetime }}至{{ i.leave_end_datetime }}
                        <span style="float: right">
                            {% if i.group == 1 %}
                                请假
                            {% else %}
                                外出
                            {% endif %}

                        </span>

                    </div>
                    <div class="collapsible-body">
                        {#                        <p class="leave_content">{{ i.leave_start_datetime }}至{{ i.leave_end_datetime }}</p>#}

                        <p class="leave_content">
                            共计
                    <span style="color: red">
                    {{ i.leave_days }}
                    </span>
                            天
                    <span style="color: red">
                        {% if i.type == 0 %}
                            年假
                        {% elif i.type == 1 %}
                            事假
                        {% elif i.type == 2 %}
                            病假
                        {% elif i.type == 3 %}
                            产假
                        {% elif i.type == 4 %}
                            会议
                        {% elif i.type == 5 %}
                            培训
                        {% elif i.type == 6 %}
                            出差
                        {% elif i.type == 7 %}
                            其他
                        {% endif %}
                    </span>

                        </p>

                        <p class="leave_content">{{ i.leave_reason }}</p>

                        <p class="leave_content">
                            {% if i.attach_photo %}
                                {% if i.type == 2 %}  <!--病假显示2张图片-->
                                    <img width="45%" class="materialboxed" data-caption="病假证明"
                                         src="{{ i.attach_photo|get_sick_level_img }}"
                                         style="float: left;margin: 0 0 5% 0">
                                    <img width="45%" class="materialboxed" data-caption="病历证明"
                                         src="{{ i.attach_photo|get_sick_history_img }}"
                                         style="float: right;margin: 0 0 5% 0">
                                {% endif %}

                                {% if i.type == 3 %} <!--产假显示2张图片-->
                                    <img width="45%" class="materialboxed" data-caption="生育医学证明"
                                         src="{{ i.attach_photo|get_sick_level_img }}"
                                         style="float: left;margin: 0 0 5% 0">
                                    <img width="45%" class="materialboxed" data-caption="生育保险待遇支付核定表"
                                         src="{{ i.attach_photo|get_sick_history_img }}"
                                         style="float: right;margin: 0 0 5% 0">
                                {% endif %}

                            {% else %}
                                {% if i.type == 2 %}
                                    还未上传病假/病历证明
                                {% else %}
                                    还未上传生育医学证明/生育保险待遇支付核定表
                                {% endif %}
                            {% endif %}

                        </p>


                        <p class="leave_content" style="text-align: center;margin-bottom: 2%;clear: both">
                            <span class="leave_id" hidden="hidden">{{ i.pk }}</span>
                            {% if i.status == 3 and i.group != 2 %}
                                <button class="done_btn btn waves-effect waves-light deep-orange lighten-1"
                                        href="#done_modal">
                                    销&nbsp;&nbsp;假
                                </button>
                            {% endif %}
                            {% if i.status == 1 %}
                                <button id="cancel_btn_{{ i.pk }}"
                                        class="cancel_btn btn waves-effect waves-light teal lighten-1"
                                        href="#cancel_modal">
                                    取&nbsp;&nbsp;消
                                </button>
                            {% endif %}

                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <!-- cancel modal -->
        <div id="cancel_modal" class="modal">
            <div class="modal-content">
                <h5>确认取消？</h5>
            </div>
            <div class="modal-footer">
                <span id="cancel_leave_id" hidden="hidden"></span>
                <a href="#!" id="cancel_submit"
                   class="modal-action modal-close waves-effect red lighten-1 waves-effect btn" style="color:#ffffff;">确认</a>
            </div>
        </div>


        <!-- done modal -->
        <div id="done_modal" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="input-field col s12">
                    <input id="actual_level_days" type="number" class="validate">
                    <label for="actual_level_days">实际用假天数</label>
                </div>
            </div>
            <div class="modal-footer">
                <span id="done_leave_id" hidden="hidden"></span>
                <a href="#!" id="done_submit"
                   class="modal-action modal-close waves-effect red lighten-1 waves-effect btn" style="color:#ffffff;" >确认</a>
            </div>
        </div>
        </div>

    {% else %}
    {% endif %}

{% endblock %}

{% block extra_script %}
    <script>
        $(document).ready(function () {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.cancel_btn').leanModal({
                        dismissible: true, // Modal can be dismissed by clicking outside of the modal
                        opacity: .5, // Opacity of modal background
                        in_duration: 500, // Transition in duration
                        out_duration: 500, // Transition out duration
                        complete: function () {
                            $('#cancel_leave_id').text('')
                        }
                    }
            );

            $('.done_btn').leanModal({
                        dismissible: true, // Modal can be dismissed by clicking outside of the modal
                        opacity: .5, // Opacity of modal background
                        in_duration: 500, // Transition in duration
                        out_duration: 500, // Transition out duration
                        complete: function () {
                            $('#done_leave_id').text('')
                            $('#actual_level_days').val('').blur()
                        }
                    }
            );
        });
        $('.cancel_btn').click(function () {
            $('#cancel_leave_id').text($(this).siblings('.leave_id').text())

        })

        $('#cancel_submit').click(function () {
            var leave_id = $(this).siblings('#cancel_leave_id').text()
            console.log(leave_id)
            $.post('/leave/cancel', {
                'leave_id': leave_id
            }, function () {
                Materialize.toast('取消成功', 4000)
                $('#title_' + leave_id).removeClass('teal lighten-1').addClass('blue-grey lighten-2')
                $('#cancel_btn_' + leave_id).remove()
                $('#title_' + leave_id).click()
            })
        })

    $('.done_btn').click(function () {
            $('#done_leave_id').text($(this).siblings('.leave_id').text())

        })

        $('#done_submit').click(function () {
            var leave_id = $(this).siblings('#done_leave_id').text()
            var actual_level_days = $('#actual_level_days').val()
            console.log(leave_id)
            if(actual_level_days>0){
               $.post('/leave/done', {
                'leave_id': leave_id, 'actual_level_days': actual_level_days
            }, function (data) {
                if(data == 'Fail'){
                    Materialize.toast('销假失败 销假天数不得大于申请天数', 4000)
                }
                else{
                    Materialize.toast('销假成功', 4000)
                    $('#title_' + leave_id).removeClass('deep-orange lighten-1').addClass('green lighten-1')
                    $('#done_btn_' + leave_id).remove()
                    $('#title_' + leave_id).click()
                }

            })
            }

            else{
                Materialize.toast('请填写正确的实际用假天数', 4000)
            }

        })


    </script>
    <script>

    </script>
{% endblock %}